@import url(https://fluffingtons.github.io/revert-discord/resources/theme.css);
.theme-dark,
.theme-light,
:root {
    --background-primary: #1a2b3e !important;
    --background-secondary: #1d3045 !important;
    --background-secondary-alt: #1a2b3e !important;
    --background-tertiary: #1a2b3e !important;
    --background-accent: #af8f5c !important;
    --text-link: #af8f5c; !important;
    --channeltextarea-background: #222222;
    --text-normal: #c9c8bf; !important;
    --interactive-normal: #af8f5c; !important;
    --scrollbar-auto-thumb: #af8f5c; !important;
    --spotify-color: #af8f5c !important;
    --background-secondary-alt: #1a2b3e; !important;
    --channeltextarea-background: #1d3045;
    --theme-red: #e7366b; !important;
}
.selected-1GqIat .icon-22AiRD {
    color: #af8f5c;
}
.circleIconButton-jET_ig svg path{
  fill: #af8f5c;
}
.circleIconButton-jET_ig.selected-ugP_am{
  background-color: #af8f5c;
}
.circleIconButton-jET_ig.selected-ugP_am svg path{
  fill: white;
}
.headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
    background: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to top right, #af8f5c, #1a2b3e);
}
.wrapper-3WhCwL {
    color: #af8f5c;
    background:#745d34;
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: #3a506c;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: #af8f5c;
    background-color: #1a2b3c;
}
.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
    color: #bf616a;
}
.channelTextArea-rNsIhG > div {
   border-radius: 25px;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #af8f5c;
    background-color: #1a2b3e;
}
.container-2Pjhx- {
    color: #af8f3c;
}
.peopleList-3c4jOR {
  background-color: #1a2b3c;
}
.section-2gLsgF {
  background-color: #1d3045;
}
.inset-3sAvek, .outer-1AjyKL {
    border-radius: 24px;
}
.layout-2DM8Md {
    border-radius: 24px;
}
.topPill-30KHOu .item-PXvHYJ {
    border-radius: 24px;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 24px;
}
.search-2oPWTC .DraftEditor-root {
    background-color: #1d3045;
}
.selected-aXhQR6 .layout-2DM8Md {
    background-color: #1a2b3e;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #1d3045;
    color: #af8f3c;
}
Style Attribute {
    background-color: #1d3045;
    color: #af8f3c;
}
.container-1r6BKw {
    color: #af8f3c; !important;
}
element.style {
    background-color: #1d3045;
    color: #af8f3c;
}
.input-cIJ7To:hover {
    border-color: #1a2b3e;
}
.input-cIJ7To {
    border-radius: 24px;
    color: #af8f3c;
    background-color: #1d3045;
    border: 1px solid #af8f3c;
}
.headerTop-3C2Zn0 {
    padding: 16px;
    background-color: #1a2b3e;
}
[mask="url(#svg-mask-status-dnd)"] {fill: #bf616a !important;
}
.embed-IeVjo6 {
    border-radius: 24px;
}
.input-2VB9rf {
    background-color: #1a2b3e;
}
.header-1TKi98 {
    background-color: #1d3045;
}
.scroller-2hZ97C {
    background-color: #1d3045;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: #af8f3e;
    border-color: #af8f3e;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #c9c8bf;
    background-color: #af8f3e;
}
.theme-dark .footer-1FPmkC {
    background-color: #1d3045;
}
.friendsEmpty-1K9B4k {
    background-color: #1a2b3e;
}
.scroller-1d5FgU {
    background-color: #1a2b3e;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #c9c8bf;
    background-color: #af8f3e;
}
.username-1A8OIy {
    color: #af8f3e;
}
.contentRegionScroller-26nc1e::-webkit-scrollbar-track,
.auto-Ge5KZx::-webkit-scrollbar-track,
.addGamePopout-2RY8Ju {
  background-color: var(--background-secondary) !important;
}
.theme-dark .autocomplete-1vrmpx {
  background-color: var(--background-secondary) !important;
}
.selectable-3dP3y-:hover {
  background-color: #af8f3e !important;
  border-radius: 25px;
}
.theme-dark .selected-1Tbx07 {
  background-color: #af8f3e !important;
  border-radius: 25px;
}
.colorHeaderPrimary-26Jzh-, .colorHeaderSecondary-3Sp3Ft {
  color: #c9c8bf !important;
}
.templatesList-2E6rTe {
  background-color: var(--background-secondary) !important;
}
.theme-light .footer-2gL1pp {
  background-color: var(--background-secondary) !important;
}
.root-1gCeng {
  background-color: var(--background-secondary) !important;
}
.colorHeaderSecondary-3Sp3Ft {
  margin: 10px;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: #af8f3e !important;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: #1a2b3e !important;
}
.sampleLink-2NLvZg {
  color: #c9c8bf;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: #1a2b3e !important;
}
.card-3RzMcx:hover {
  background-color: #1d3045 !important;
}
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
  background-color: #1a2b3e !important;
}
.content-1x5b-n:hover {
  background-color: #1a2b3e !important;
}
.theme-dark .paymentPane-3bwJ6A {
  color: #c9c8bf;
  background-color: #1d3045;
}
.theme-dark .paginator-166-09 {
  background: #1d3045;
}
.theme-dark .bottomDivider-1K9Gao {
  border-bottom-color: #1a2b3e;
}
.theme-dark .payment-xT17Mq {
  background-color: #1d3045;
}
.theme-dark .payment-xT17Mq:hover {
  background-color: #1a2b3e;
}
.theme-dark .expandedInfo-3kfShd {
  background-color: #1d3045;
}
.sidebarRegionScroller-3MXcoP::-webkit-scrollbar-track {
  background-color: #1a2b3e;
}
.sidebarRegionScroller-3MXcoP::-webkit-scrollbar-thumb {
  background-color: #af8f5c;
}
.videoWrapper-2v09vt {
  background-color: #1a2b3e;
}
.wrapper-2qzCYF.normal-1oavYI {
  background-color: #1d3045;
}
.media-ya5FZp {
  background-color: #1d3045;
}
.scroller-RmtA4e::-webkit-scrollbar-thumb {
  background-color: #af8f5c;
}
.itemCard-v9viV7:hover {
  background-color: #1d3045 !important;
}
.peopleListItem-2nzedh:hover {
  background-color: #1d3045 !important;
}
.scroller-1JbKMe::-webkit-scrollbar-thumb {
  background-color: #af8f5c;
}
.colorDefault-2K3EoJ:hover {
  background-color: #af8f5c;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: #af8f5c;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
  background-color: #1a2b3e;
}
.colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: #1a2b3e;
}
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
  background-color: #1d3045;
}
.scroller-3BxosC {
  background-color: #1d3045;
}
.root-217Brm {
    background-color: #1b2b3d;
}
.theme-dark .footer-2gL1pp {
  background-color: #1d3045;
}
.selectorButtonSelected-t5V9On {
  background-color: #af8f5c;
}
.theme-dark .item-3T2z1R:hover {
  background-color: #1d3045;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: #af8f5c;
}
.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: #af8f5c;
}
.barFill-23-gu- {
    background: #bf616a;
    height: 100%;
}
.numberBadge-2s8kKX {
  background-color: #af8f5c !important;
}
.barButtonBase-2uLO1z {
    color: #c9c8bf;
}
.iconBadge-qZ4Ksk {
    background-color: #bf616a;
}
.wrapper-232cHJ {
    background-color: #bf616a;
}
.barButtonBase-2uLO1z {
    text-align: left;
    background-color: #af8f5c;
    background: #af8f5c;
    border-radius: 10px;
}
.newMessagesBar-265mhP {
    top: 0;
    border-radius: 0 0 8px 8px;
    background-color: #7289da00;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}
.addInputWrapper-1BOZ3d {
    background-color: #1a2b3e;
}
.item-2hkk8m {
    background-color: #c9c8bf;
}
.header-2BwW8b {
    color: #c9c8bf;
}
.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881 {
    color: #c9c8bf;
}
.headerNormal-T_seeN .customStatus-1bh2V9 {
    color: #c9c8bf;
}
.headerTag-2pZJzA {
    color: #c9c8bf;
}
.header-3uLluP {
    color: #c9c8bf;
}
.topSectionNormal-2-vo2m .username-3gJmXY {
    color: #c9c8bf;
}
.channelName-_v0rI4, .guildName-GKOCI8 {
    color: #c9c8bf;
}
.base-1x0h_U {
    color: #c9c8bf;
}
.header-2V-4Sw {
    color: #c9c8bf;
}
.username-31C1TQ {
    color: #c9c8bf;
}
.defaultColor-1_ajX0 {
    color: #c9c8bf;
}
.selected-3s45Ha.item-PXvHYJ, .selected-3s45Ha.item-PXvHYJ:hover {
    color: #c9c8bf;
}
.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
    background-color: #1a2b3e;
}
.theme-dark .uploadModal-2ifh8j {
    background-color: #1a2735;
}
.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: #182738;
}
.theme-dark .popout-38lTFE {
    background-color: #1a2b3e;
    box-shadow: 0 8px 16px #af8f5c;
}
.peopleColumn-29fq28 {
    background-color: #1a2b3e;
}
